@import './foundation/scss/foundation';

.logout {
  margin-left: 85%;
}

.petPool {
  display: none;
}

.pet {
  display: inline-block;
  width: 25%;
  text-align: center;
}

button .like, .dislike {
  margin: 5px;
}

#submit {
  text-align: center;
}

.logout {
  text-align: center;
}

h1, h2, h3{
  text-align: center;
}
form {
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}

.contacts-form {
  display: none;
}

.image {
  border-radius: 1em;
  width: 100px;
}

.hidden {
  display: none;
}

